Web_Service_Data_Base-main/WebServiceShop/Connected Services/ServiceReference_PayTransbank/WebService_PayTransbank.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CrearPago">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="buyOrder" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="amount" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="urlReturn" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CrearPagoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CrearPagoResult" type="tns:Pago" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Pago">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Token" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Url" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="EstadoPago">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EstadoPagoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EstadoPagoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="CrearPagoSoapIn">
    <wsdl:part name="parameters" element="tns:CrearPago" />
  </wsdl:message>
  <wsdl:message name="CrearPagoSoapOut">
    <wsdl:part name="parameters" element="tns:CrearPagoResponse" />
  </wsdl:message>
  <wsdl:message name="EstadoPagoSoapIn">
    <wsdl:part name="parameters" element="tns:EstadoPago" />
  </wsdl:message>
  <wsdl:message name="EstadoPagoSoapOut">
    <wsdl:part name="parameters" element="tns:EstadoPagoResponse" />
  </wsdl:message>
  <wsdl:portType name="WebService_PayTransbankSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CrearPago">
      <wsdl:input message="tns:CrearPagoSoapIn" />
      <wsdl:output message="tns:CrearPagoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EstadoPago">
      <wsdl:input message="tns:EstadoPagoSoapIn" />
      <wsdl:output message="tns:EstadoPagoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebService_PayTransbankSoap" type="tns:WebService_PayTransbankSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CrearPago">
      <soap:operation soapAction="http://tempuri.org/CrearPago" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EstadoPago">
      <soap:operation soapAction="http://tempuri.org/EstadoPago" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService_PayTransbankSoap12" type="tns:WebService_PayTransbankSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CrearPago">
      <soap12:operation soapAction="http://tempuri.org/CrearPago" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EstadoPago">
      <soap12:operation soapAction="http://tempuri.org/EstadoPago" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService_PayTransbank">
    <wsdl:port name="WebService_PayTransbankSoap" binding="tns:WebService_PayTransbankSoap">
      <soap:address location="http://localhost:57818/WebService/WebService_PayTransbank.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService_PayTransbankSoap12" binding="tns:WebService_PayTransbankSoap12">
      <soap12:address location="http://localhost:57818/WebService/WebService_PayTransbank.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>